@font-face {
    font-family: 'Montserrat';
    src: url('../../../fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

#contactcomp {
    font-family: 'Montserrat', sans-serif;
    color: #161c2d; 
    background-color: white;
    max-width: 100vw;
    min-height: 100vh;
    padding: 0%;
    margin: 0%;
    width: 100%;
    z-index: auto;
    .contact-table {
        position: absolute;
        width: 100%;
        height: 100%;
        .upperside {
            width: 100%;
            height: 70%;
            left: 0%;
            background-color: blue;
            background-image: url('../../../SimpleDocs.images/Home/Contact/ContactBackground.png');
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            .slogan {
                position: absolute;
                top: 40%;
                left: 15%;
                width: 25%;
                height: 25%; 
                h1 {
                    color: white;
                    font-size: calc(1.2vw + 1.2vh);
                }
            }
        }
        .lowerside {
            width: 100%;
            height: 30%;
            top: 70%;
            position: absolute;
            background-color: white;
            .wrapper {
                width: 85%;
                height: 100%;   
                margin-left: 10%;
                margin-right: 5%;    
                display: flex; 
                flex-direction: column;
                .logo-wrapper {
                    flex: 3;
                    .contact-logo {
                        width: 10%;
                        height: 20%;
                        position: absolute;
                        top: 18%;
                    }
                }
                .middle-wrapper {
                    flex: 1; 
                    
                    h1 {
                        position: absolute; 
                        font-family: Nunito;
                        font-style: normal;
                        font-weight: 300;
                        font-size: calc(0.7vw + 0.7vh);
                        padding-bottom: 0.5%;
                        width: 85%;
                        border-bottom: 1px solid #4B5FF7;
                    }
                }
                .bottom-wrapper {
                    flex: 2;
                    flex-direction: row;
                    h1 {
                        flex: 1;
                        font-family: DM Sans;
                        font-style: normal;
                        font-weight: normal;
                        color: #242E78;
                        font-size: calc(0.6vw + 0.6vh);
                        padding-right: 20px;
                        float: left;
                    }
                    h2 {
                        flex: 8;
                        font-family: DM Sans;
                        font-style: normal;
                        font-weight: normal;
                        color: #242E78;
                        font-size: calc(0.6vw + 0.6vh);
                        float: right;
                    }
                }
            }
        }
        .box {
            width: 50%;
            height: 60%;
            left: 45%;
            bottom: 15%;
            position: absolute;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            background-color: white;
            z-index: 1020;
            .wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                .left-wrapper {
                    flex: 0.9;
                    display: flex;
                    flex-direction: column;
                    background-color: #FF885A;
                    .title-wrapper {
                        flex: 2;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .left-title {
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: 600;
                            font-size: calc(1vw + 1vh);
                            letter-spacing: calc(0.1vh + 0vw);
                            color: #FFFFFF;
                            padding-left: 12%;
                        }
                    }
                    .content-wrapper {
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        padding-left: 12%;
                        .left-content {
                            flex: 1;
                            .left-address-symbol{
                                float: left;
                                width: 6%;
                                height: 20%;
                                color: #ffffff;
                            }
                            .left-phone-symbol{
                                float: left;
                                width: 6%;
                                height: 20%;
                                color: #ffffff;
                            }
                            .left-mail-symbol{
                                float: left;
                                width: 6%;
                                height: 20%;
                                color: #ffffff;
                            }
                            .left-subtitle {
                                margin: 0%;
                                margin-left: 10%;
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: bold;
                                font-size: calc(0.7vw + 0.3vh);
                                text-transform: uppercase;
                                color: #FFFFFF;
                            }
                            .left-subcontent {
                                margin: 0%;
                                font-family: Lato;
                                font-style: normal;
                                font-weight: normal;
                                font-size: calc(0.5vw + 1vh);
                                padding-top: 1%;
                                color: rgba(255, 255, 255, 0.7);
                            }  
                        }
                    }
                    .blank-wrapper {
                        flex: 1;
                    }
                }
                .right-wrapper {
                    flex: 1;
                    display: flex;
                    //background-color: white;
                    flex-direction: column;
                    justify-content: space-between;
                    .title-wrapper { 
                        flex: 0.5;
                        display: flex;
                        align-items: center;
                        .title {
                            flex: 1;
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: 600;
                            font-size: calc(1vw + 1vh);
                            letter-spacing: calc(0.1vh + 0vw);
                            color: #333333;
                            padding-left: 5%;
                        }
                    }
                    .content-wrapper {
                        flex: 2;
                        display: flex;
                        flex-direction: column;
                        .subtitle-wrapper {
                            flex: 1;
                            .input-wrapper {
                                .subtitle {
                                    // font-family: Lato;
                                    margin: 0%;
                                    padding-left: 5%;
                                    font-style: normal;
                                    font-weight: bold;
                                    font-size: calc(0.5vw + 0.5vh);
                                    color: #333333;
                                }
                                .input-text {
                                    //padding-bottom: 2%;
                                    margin: 0%;
                                    margin-left: 5%;
                                    border: 0.01vw solid #EEEEEE;
                                    box-sizing: border-box;
                                    border-radius: 3px;
                                    font-family: Nunito;
                                    font-style: italic;
                                    font-weight: 300;
                                    font-size: calc(0.5vw + 0.8vh);
                                    color: #B1B1B1;
                                    width: 90%;
                                    &:hover, &:active, &:visited{
                                        background-color: rgb(232, 240, 254) !important;
                                        color: black;
                                    }
                                }
                            }
                            .text-area-wrapper {
                                flex: 4;
                                .subtitle {
                                    // font-family: Lato;
                                    margin: 0%;
                                    padding-left: 5%;
                                    padding-bottom: 1%;
                                    font-style: normal;
                                    font-weight: bold;
                                    font-size: calc(0.5vw + 0.8vh);
                                    color: #333333;
                                }
                                .text-area {
                                    margin: 0%;
                                    margin-left: 5%;
                                    background: #FFFFFF;
                                    border: 1px solid #EEEEEE;
                                    box-sizing: border-box;
                                    border-radius: 3px;
                                    font-size: calc(0.5vw + 0.5vh);
                                    width: 90%;
                                    &:hover, &:active, &:visited{
                                        background-color: rgb(232, 240, 254) !important;
                                        color: black;
                                    }
                                }
                                
                            }
                        }
                    }
                    .last-column {
                        flex: 1;
                        //background-color: gray;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .submit-button {
                            margin-left: 5%;
                            background: #F56128;
                            color: #FFFFFF;
                            border: white;
                            width: 35%;
                            border-radius: 40px;
                            font-family: Montserrat;
                            font-weight: bold;
                            font-size: calc(0.8vw + 0.5vh);
                            text-align: center;
                            float: left;
                            &:hover {
                                background-color: #FF885A;
                            }
                        }
                        .notice {
                            margin: 0%;
                            font-family: Lato;
                            font-style: italic;
                            font-weight: normal;
                            width: 40%;
                            font-size: calc(0.5vw + 0.5vh);
                            text-align: right;
                            color: #747578;
                            padding-right: 10%;
                        }

                    }
                    .blank-wrapper {
                        flex: 1;
                    }
                }
            }  
        }
    }
}

